bcrypt             
blinker            
click              
Flask              
Flask-Cors         
Flask-JWT-Extended 
Flask-SQLAlchemy   
greenlet           
importlib_metadata 
itsdangerous       
Jinja2             
MarkupSafe         
pip                
psycopg2-binary    
PyJWT  
python-dotenv             
setuptools         
SQLAlchemy         
typing_extensions 
Werkzeug           
zipp               